*
{
    margin:0;
    padding:0;
}
header
{
    background-color:black;
    color:white;
}
.header
{
    color:blue;
}
.navi
{
    float:center;
    color:white;
}
body
{
    background-color:white;
    color:black;
}
table
{
	border: 1px green;
}
.right_aside
{
	background-color:blueviolet;
	float:right;
	width:80px;	
}
a:active{
    color:blue;
}
a:hover
{
    border: 1px;
    color:brown;
}