*
{
    margin:0;
    padding:0;
}
header
{
    
    background-color:black;
    color:white;
}
.header
{
	color:blue;
}
.nav
{
   float:center;
    color:white;
}

body
{
    background-color:white;
    color:black;
}
table
{
	border: 1px green;
}
.right_aside
{
	background-color:grey;
	float:right;
	width:80px;
	
}